<div data-ng-show='recipe.ID != undefined' data-ng-animate="{show: 'animate-enter'}">
    <div class="well">
        <h1>Delete</h1>
        <p>Are you sure you want to delete the following recipe?</p>
        <button class="btn btn-success" data-ng-click="yes()">Yes</button>
        <button class="btn btn-danger" data-ng-click="no()">No</button>
    </div>
    <h1 style='float: left'>
        {{recipe.Title}}
        <img data-ng-src='icons/{{recipe.Visibility.toLowerCase()}}.png' style='padding-left: 0.5em'/>
    </h1>
    <div style='float: right'>
        <div class="pull-right" style='margin-bottom: 1em;'>
            <h2>Tags</h2>
            <ul class="list-unstyled">
                <li data-ng-repeat="tag in recipe.Tags"><button data-ng-click="tagSearch(tag)" class="btn btn-default">{{tag}}</button></li>
            </ul>
        </div>
        <img data-ng-repeat="image in recipe.Images" style='width: 200px; margin-bottom: 1em; float: right; clear: right; border: 1px solid black' data-ng-src='images/{{image.FilenameServer}}'/>
    </div>
    <div style='clear: left'></div>
    <div>
        <h4>Author <small>{{recipe.Author}}</small></h4>
    </div>
    <div data-ng-show="recipe.Description.length > 1 || recipe.Description[0] !== ''">
        <h2>Description</h2>
        <p data-ng-repeat="list in recipe.Description track by $index">{{list}}</p>
    </div>
    <div>
        <h2>Ingredients</h2>
        <ul>
            <li data-ng-repeat="list in recipe.Ingredients track by $index">{{list}}</li>
        </ul>
    </div>
    <div>
        <h2>Method</h2>
        <p data-ng-repeat="list in recipe.Method track by $index">{{list}}</p>
    </div>
    <div data-ng-show="recipe.Notes.length > 1 || recipe.Notes[0] !== ''">
        <h2>Notes</h2>
        <p data-ng-repeat="list in recipe.Notes track by $index">{{list}}</p>
    </div>
    <div>
        <h2>Source</h2>
        <div>{{recipe.Source}}</div>
    </div>
</div>