<div>
    <form class="">
        <input type="hidden" name="ID" data-ng-modle="recipe.ID"/>
        <input type="hidden" name="Version" />
        <label for="Title">Title</label>
        <textarea data-ng-model="recipe.Title" class="form-control" id="Title" name="Title" rows=1></textarea>
        <label for="Description">Description (optional)</label>
        <textarea data-ng-model="recipe.Description" class="form-control" id="Description" name="Description" rows=10></textarea>
        <label for="Ingredients">Ingredients</label>
        <textarea data-ng-model="recipe.Ingredients" class="form-control" id="Ingredients" name="Ingredients" rows=10></textarea>
        <label for="Method">Method</label>
        <textarea data-ng-model="recipe.Method" class="form-control" id="Method" name="Method" rows=10></textarea>
        <label for="Notes">Notes (optional)</label>
        <textarea data-ng-model="recipe.Notes" class="form-control" id="Notes" name="Notes" rows=10></textarea><br />
        <label for="Source">Source (optional)</label>
        <textarea data-ng-model="recipe.Source" class="form-control" id="Source" name="Source" rows = 1></textarea>
        <label for="Tags">Tags</label>
        <div class="form-control tag-control">
            <ul class="list-inline">
                <li data-ng-repeat="(key,tag) in recipe.Tags">
                    <div class="tag">{{tag}}&nbsp;<button data-ng-click="deleteTag(key)" type="button" class="close" aria-hidden="true">&times;</button></div>
                </li>
                <li><input data-ng-model="tagText" data-tag-input="recipe.Tags" type="text" id="Tags" name="Tags" class="tag-input"/></li>
            </ul>
        </div>
        <label for="Visibility">Visibility</label>
        <select data-ng-model="recipe.Visibility" id="Visibility" name="Visibility" class="form-control">
            <option value="0" selected>Private</option>
            <option value="1">Link Share</option>
            <option value="2">Public</option>					 	
        </select>
        <br/>
        <button data-ng-click="save()" type="button" class="btn btn-primary">Save</button>
        <button data-ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
    </form>
    <br/>
</div>
