<div data-ng-show='recipes.length != 0' data-ng-animate="{show: 'animate-enter'}">
    <div class="col-md-7"></div>
    <div class="col-md-5 no-side-padding">
        <div class="input-group">
            <span class="input-group-addon">Search:</span>
            <input class="form-control" type="text" name="input-search" data-ng-model="search"/>
            <span class="input-group-btn">
                <button data-ng-click="clearSearch()" class="btn btn-default">Clear</button>
            </span>
        </div>
        <br/>
    </div>
    <table id="list-table" class="table table-hover table-striped table-responsive" style="clear: right; width: 100%;">
        <thead>
            <tr class="">
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" data-cmd="view" data-id="{{recipe.id}}" data-ng-repeat="recipe in recipes | filter: search">
                <td><a href="#/view/{{recipe.ID}}">{{recipe.Title}}</a></td>
                <td>{{recipe.Description}}</td>
                <td>{{recipe.Author.Name}}</td>
                <td>
                    <ul class="list-inline">
                        <li data-ng-repeat="tag in recipe.Tags">
                            <button data-ng-click="tagSearch(tag.Tag)" class="btn btn-default btn-xs">{{tag.Tag}}</button>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div data-ng-show='recipes.length == 0'>
    <div class='jumbotron'>
        Loading...
    </div>
</div>