<div>
    <div style="display: inline">
        <label style="display: inline" for="input-public">Public:</label>
        <input type="radio" id="input-public" name="search-type" value="Public">
        <label style="display: inline" for="input-private">Private:</label>
        <input type="radio" id="input-private" name="search-type" value="Private">
    </div>
    <div style="float: right">
        <label style="display: inline" for="input-search">Search:</label>
        <input type="text" id="input-search" name="input-search" onkeyup="javascript: onChangeSearch('#recipe - list', this.value);"/>
    </div>
    <table class="table table-hover table-striped" style="clear: right; width: 100%;">
        <thead>
            <tr class="">
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" data-cmd="view" data-id="{{recipe.id}}" data-ng-repeat="recipe in recipes">
                <td><a href="#view/ID={{recipe.ID}}">{{recipe.Title}}</a></td>
                <td>{{recipe.Description}}</td>
                <td>{{recipe.Author.Name}}</td>
                <td><div data-ng-repeat="tag in recipe.Tags">{{tag.Tag}}</div></td>
            </tr>
        </tbody>
    </table>
</div>