<div>
    <div id="msgHolder"></div>
    <form class="well">
        <label for="pass">Current Password</label>
        <input data-ng-model="profile.password" type="password" id="pass" name="pass" class="form-control"/><br />
        <label for="newPass">New Password</label>
        <input data-ng-model="profile.newPassword" type="password" id="newPass" name="newPass" class="form-control"/><br />
        <label for="confNewPass">Confirm New Password</label>
        <input data-ng-model="profile.confNewPassword" type="password" id="confNewPass" name="confNewPass" class="form-control"/><br />
        <input type="hidden" id="Cmd" name="Cmd" value="UpdatePassword"/>
        <button data-ng-click="save()" class="btn btn-primary" name="btnSave" value="Save" type="button">Save</button>
    </form>
</div>